:root {
  --main-font: "Lato", serif;
  --dark-text-color: #330c00;
  --background-color: #E8DED1;
}

/* HTML, BODY RESET */
html, body {
  width: 300px;
  height: fit-content;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

/* MINIMIZED DROPDOWN STYLING*/
#minimizedDropdown { 
  margin-left: auto;
  margin-right: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 5px;
  background-color: var(--background-color);
  text-align: center;
  cursor: pointer;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#minimizedDropdown-get {
  font-style: italic;
  color: var(--dark-text-color);
}

#minimizedDropdown-styling {
  color: var(--dark-text-color);
  font-weight: bold;
}


/* DROPDOWN STYLING */
#dropdown {
  margin-left: auto;
  margin-right: 0;
  padding: 10px;
  width: 100%;
  height: fit-content;
  box-shadow: 2px 2px 5px;
  background-color: var(--background-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* HEADER STYLING */
#headerContainer {
  margin-bottom: 35px;
  cursor: pointer;
  border-bottom: 1px solid var(--dark-text-color);
}

#header {
  width: 100%;
  text-align: center;
}

#header-context {
  color: var(--dark-text-color);
  font-style: italic;
  font-weight: lighter;
}

/* ARTICLE STYLING */
#article {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  border-bottom: 1px solid #330c00;
}

#logo {
  object-fit: cover;
  border-radius: 2px;
}

#article-infoContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: 10px;
}

#title {
  text-decoration: none;
  font-size: 13x;
  font-weight: bold;
  color: var(--dark-text-color);
}

#description {
  font-size: 12px;
}

#allsides {
  align-self: flex-end;
  border-radius: 2px;
}

@media screen and (max-width: 480px) {
  #dropdown {
    margin-left: auto;
    margin-right: 0;
    padding: 10px;
    width: 100%;
    height: fit-content;
    background-color: var(--background-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  #title {
    font-size: 10px;
  }

  #description {
    font-size: 8px;
  }

  #header {
    font-size: 20px;
  }
}